#animesDeTemporada {

    display: flex;
    flex-wrap: wrap;

    justify-content: center;

}

.card {

    width: 100%;

    max-width: 200px;

    position: relative;

    border-radius: 5px;

    border: 1px solid rgba(0,0,0,.125);

    margin: 10px;

}

.card .image {

    height: 250px;
    width: 100%;

    margin-bottom: 20px;
    
}

.card img {

    position: absolute;

    width: 100%;
    height: 250px;

    object-fit: cover;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    
}

@media (min-width: 768px) {

    .card {
        width: 30%;
    }

}