.text-center {
    text-align: center;
}

h3 {

    margin-top: 2rem;

}

#imagenCargar {

    display: flex;

    flex-wrap: wrap;

    justify-content: center;

}

#imagenCargar img {
    width: 200px;
}

#paginacion {
    text-align: center;

    margin-top: 2rem;
}

#paginacion a {

    background-color: rgb(0, 139, 219);

    padding: 10px;

    color: white;

    border-radius: 3px;

    text-decoration: none;

}

.puntuacion {

    position: absolute;
    
    text-align: center;

    color: white;

    background-color: orange;
    width: 30px;
    padding: 15px;

    font-size: 20px;
    font-weight: bold;

    border-top-left-radius: 5px;

}

.titulo {
    height: 50px;
}

.titulo, .episodios {

    width: 100%;

    text-align: center;

    font-weight: bold;

}

.sinopsis {

    padding: 10px;

    height: 100px;

    margin-bottom: 10%;

    text-align: justify;

}