footer {

    height: 200px;
    
    background-color: rgb(31, 31, 31);
    
    color: white;

    margin-top: 2rem;
}

footer p {
    margin-bottom: 0;
}

.footerContenedor {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;

    height: 100px;
}

#sobre, #documentacion {
    display: flex;
    flex-wrap: wrap;

    align-items: center;

    margin: 2rem;

}



@media (min-width: 768px) {

    footer {
        height: 130px;
    }

}