header {

    height: 100px;
    
    background-color: rgb(31, 31, 31);
    
    color: white;

    display: flex;
    flex-wrap: wrap;

    align-content: center;

}

header h1 {

    margin-top: 2rem;

    font-size: 30px;

    text-align: center;

}

header h1 a {

    color: white;
    text-decoration: none;
}

header img {

    width: 120px;

}

.headerContenedor {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;

}

#buscar {

    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    margin-top: 2rem;

}

.headerContenedor label {

    width: 20px;
    height: 20px;

    font-size: 20px;

    cursor: pointer;

}

#search {

    display: none;

}

#buscar select {

    height: 30px;
    margin-right: 1rem;

    color: black;

}

#buscar input {

    height: 30px;

    color: black;

}

#buscar button {
    margin-left: 5px;
    height: 30px;

    line-height: 0;
}

nav ul li {
    list-style: none;

    margin-top: 5rem;

}

nav ul li a {

    text-decoration: none;
    color: white;

    padding: 10px;

    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s linear;

}

nav ul li a:hover {

    border-bottom: 2px solid aqua;

}

@media (max-width: 768px) {

    #buscar input {

        width: 130px;

    }

    .headerContenedor {
    
        justify-content: space-between;
    
    }

}

@media (min-width: 468px) {

    .headerContenedor {
    
        flex-flow: row;
    
    }

}