.subImagen {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.subImagen p {
    width: 50%;

    text-align: left;

    font-weight: bold;
}

#autores {
    width: 100%;
}

#autores p {
    width: 100%;
}

.text-bold {
    font-weight: bold;
}

#info .titulo {

    height: auto;

    font-size: 30px;

}

#info .subtitulo {

    font-size: 15px;

}

#info .sinopsis {

    height: auto;

    margin-bottom: 1rem;
    
    border-top: 1px solid rgba(128, 128, 128, 0.438);
    border-bottom: 1px solid rgba(128, 128, 128, 0.438);


}

#info .generos {

    display: flex;
    flex-wrap: wrap;

    justify-content: center;

}

#info .generos p {

    margin: 0;

    padding: 3px;

    font-weight: bold;

}

.icono {
    margin-right: 1rem;
}

@media (max-width: 768px) {

    #caracteristicasContenedor {
        text-align: center;
        width: 100%;
    }

    #textoContenedor {
        width: 100%;
    }

    .subImagen p {

        text-align: center;
        width: 50%;

    }

    #info img {

        width: 300px;

    }

}

@media (max-width: 480px) {

    #caracteristicasContenedor {
        text-align: center;
        width: 100%;
    }

    #textoContenedor {
        width: 100%;
    }

    #caracteristicasContenedor p {

        text-align: left;
        width: 100%;

    }

    #info img {

        /* max-width: 200px; */

        width: 300px;

    }

}