.subImagen {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.subImagen p {
    width: 50%;

    text-align: left;

    font-weight: bold;
}

#autores {
    width: 100%;
}

#autores p {
    width: 100%;
}

.text-bold {
    font-weight: bold;
}

#info .titulo {

    height: auto;

    font-size: 30px;

    border-bottom: 1px solid rgba(128, 128, 128, 0.438);

}

#info .sinopsis {

    height: auto;

    margin-bottom: 1rem;
    
    border-bottom: 1px solid rgba(128, 128, 128, 0.438);


}

#info .generos {

    display: flex;
    flex-wrap: wrap;

    justify-content: center;

}

#info .generos p {

    margin: 0;

    padding: 3px;

    font-weight: bold;

}

.icono {
    margin-right: 1rem;
}